
@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-thin.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-thin.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-extendedthin.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedthin.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedthin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-thinoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-thinoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('woff2/iosevka-term-slab-haskell-thinoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-thinoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-extendedthinoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedthinoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedthinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('woff2/iosevka-term-slab-haskell-extendedthinoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedthinoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedthinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-thinitalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-thinitalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-thinitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-extendedthinitalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedthinitalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedthinitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-extralight.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extralight.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extralight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-extendedextralight.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedextralight.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedextralight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-extralightoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extralightoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('woff2/iosevka-term-slab-haskell-extralightoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extralightoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-extendedextralightoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedextralightoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedextralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('woff2/iosevka-term-slab-haskell-extendedextralightoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedextralightoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedextralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-extralightitalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extralightitalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extralightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-extendedextralightitalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedextralightitalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedextralightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-light.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-light.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-extendedlight.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedlight.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedlight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-lightoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-lightoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('woff2/iosevka-term-slab-haskell-lightoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-lightoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-extendedlightoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedlightoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedlightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('woff2/iosevka-term-slab-haskell-extendedlightoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedlightoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedlightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-lightitalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-lightitalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-lightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-extendedlightitalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedlightitalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedlightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-regular.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-regular.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-extended.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extended.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-oblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-oblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('woff2/iosevka-term-slab-haskell-oblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-oblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-extendedoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('woff2/iosevka-term-slab-haskell-extendedoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-italic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-italic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-extendeditalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendeditalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendeditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-medium.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-medium.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-extendedmedium.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedmedium.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedmedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-mediumoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-mediumoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('woff2/iosevka-term-slab-haskell-mediumoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-mediumoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-extendedmediumoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedmediumoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedmediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('woff2/iosevka-term-slab-haskell-extendedmediumoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedmediumoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedmediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-mediumitalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-mediumitalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-mediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-extendedmediumitalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedmediumitalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedmediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-semibold.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-semibold.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-extendedsemibold.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedsemibold.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedsemibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-semiboldoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-semiboldoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('woff2/iosevka-term-slab-haskell-semiboldoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-semiboldoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-extendedsemiboldoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedsemiboldoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedsemiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('woff2/iosevka-term-slab-haskell-extendedsemiboldoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedsemiboldoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedsemiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-semibolditalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-semibolditalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-semibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-extendedsemibolditalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedsemibolditalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedsemibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-bold.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-bold.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-extendedbold.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedbold.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedbold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-boldoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-boldoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('woff2/iosevka-term-slab-haskell-boldoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-boldoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-extendedboldoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedboldoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('woff2/iosevka-term-slab-haskell-extendedboldoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedboldoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-bolditalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-bolditalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-bolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-extendedbolditalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedbolditalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedbolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-extrabold.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extrabold.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-extendedextrabold.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedextrabold.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedextrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-extraboldoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extraboldoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('woff2/iosevka-term-slab-haskell-extraboldoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extraboldoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-extendedextraboldoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedextraboldoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedextraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('woff2/iosevka-term-slab-haskell-extendedextraboldoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedextraboldoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedextraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-extrabolditalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extrabolditalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extrabolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-extendedextrabolditalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedextrabolditalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedextrabolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-heavy.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-heavy.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-term-slab-haskell-extendedheavy.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedheavy.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedheavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-heavyoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-heavyoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('woff2/iosevka-term-slab-haskell-heavyoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-heavyoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-term-slab-haskell-extendedheavyoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedheavyoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedheavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('woff2/iosevka-term-slab-haskell-extendedheavyoblique.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedheavyoblique.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedheavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-heavyitalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-heavyitalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-heavyitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Haskell Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-term-slab-haskell-extendedheavyitalic.woff2') format('woff2'), url('woff/iosevka-term-slab-haskell-extendedheavyitalic.woff') format('woff'), url('ttf/iosevka-term-slab-haskell-extendedheavyitalic.ttf') format('truetype');
}
